.header {
  display: flex;
  flex-direction: row;
  padding: 0 15%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 2rem;
  height: 5rem;
  background: var(--primary-color);

  @media screen and (max-width: 800px) {
    justify-content: flex-start;
  }

  @media screen and (max-width: 460px) {
    padding: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @media screen and (max-width: 640px) {
      flex-direction: column;
    }

    div {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    a {
      text-align: center;
      font-weight: 800;
      line-height: 24px;
      font-size: 28px;
      color: var(--white);
      text-decoration: none;

      @media screen and (max-width: 640px) {
        font-size: 26px;
        text-decoration: underline var(--white);
      }
    }
  }

  .whatsapp {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    text-align: center;
    font-weight: bold;
    line-height: 22px;
    font-size: 24px;
    color: var(--white);

    @media screen and (max-width: 1318px) {
      display: none;
    }

    a {
      color: var(--white);
      text-decoration: underline var(--secondary-color);
    }

    img {
      margin-left: 0.5rem;
      height: 25px;
      width: 25px;
      object-fit: cover;
    }
  }
}
