* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background2);
}

:root {
  --primary-color: #8e635a;
  --secondary-color: #f78759;
  --white: #fff;
  --black: #000;
  --black-light: #333333;
  --gray: #999999;
  --gray-dark: #666666;
  --gray-light: #CCCCCC;
  --swiper-theme-color: #8e635a;
  --background: #fcf6f0;
}
