.banner {
  margin-top: 2rem;

  .slider {
    width: 80%;
    margin: 0 auto;
    height: 30rem;
    border-radius: 2rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
    .swiper-pagination-bullet{
      width: 15px;
      height: 15px;
    }
    .swiper-pagination-bullet-active {
      background-color: var(--secondary-color) !important;
    }
    .swiper-button-next,
    .swiper-button-prev {
      right:10px;
      padding: 30px;
      color: var(--secondary-color) !important;
      fill: var(--secondary-color) !important;
      stroke: var(--secondary-color) !important;
    }
  }
}
